@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* === CSS RESET === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
    display: block;
}

nav ul li a {
    color: #F2F2F2;
    text-decoration: none;
}

/* === HERO PAGE === */

header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    height: 15vh;
    align-items: center;
}

.logo {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 5vh;
}

ul {
    display: flex;
    gap: 1vw;
}

li {
    color: #F2F2F2;
    cursor: pointer;
    transition: .3s;
    font-size: 4vh;
}

li:hover {
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #00F0FF;
    padding: 10px;
    z-index: 1001;
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #121212;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.2);
    z-index: 1000;
}

.mobile-nav-links.show {
    display: block;
}

.mobile-nav-links li a {
    color: #F2F2F2;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

body {
    background: linear-gradient(135deg, #3D1E6D, #155E63);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

.hero-page {
    overflow: hidden;
}

.hero-section-title {
    width: 55%;
    margin: 0 auto;
    color: #F2F2F2;
    font-size: 10vh;
    text-align: center;
    margin-top: 10vh;
}

.hero-section-subtitle {
    color: #F2F2F2;
    font-weight: 300;
    text-align: center;
    font-size: 6vh;
    padding: 20px;
}

.title-contrast {
    color: #A8FF60;
}

.CTA-button {
    background-color: #00F0FF;
    color: #F2F2F2;
    height: 10vh;
    font-size: 5vh;
    border-radius: 15px;
    position: absolute;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
    cursor: pointer;
    transition: .3s;
    margin-top: 10vh;
    text-align: center;
}

.CTA-button:hover {
    transform: translate(-50%) scale(1.02);
    background-color: #A8FF60;
    box-shadow: 0 0 15px rgba(168, 255, 96, 0.7);
}

.graphic-background {
    display: flex;
    position: absolute;
    width: 30%;
    height: 35vh;
    right: 5%;
    bottom: 0px;
    gap: 2vh;
    justify-content: center;
    align-items: flex-end;
}

.graphic-bar {
    background-color: #00F0FF;
    width: 7%;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
    transition: .3s;
}

.graphic-bar:hover {
    transform: scaleY(1.4);
    background-color: #A8FF60;
    box-shadow: 0 0 15px rgba(168, 255, 96, 0.7);
}

.graphic-bar1 {
    height: 5vh;
}

.graphic-bar2 {
    height: 10vh;
}

.graphic-bar3 {
    height: 15vh;
}

.graphic-bar4 {
    height: 20vh;
}

.graphic-bar5 {
    height: 25vh;
}

/* === SERVICE PAGE === */

.services-page {
    padding: 5%;
    color: #F2F2F2;
}

.service-section-title {
    margin: 0 auto;
    color: #F2F2F2;
    font-size: 9vh;
    text-align: center;
    padding: 20px;
}

.service-section-subtitle {
    color: #F2F2F2;
    font-weight: 300;
    text-align: center;
    font-size: 5vh;
}

.services-card-container {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4vh 2vw;
}

.service-card {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 4vh 2vw;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 240, 255, 0.2);
    transition: .3s;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(168, 255, 96, 0.4);
}

.service-card h3 {
    font-size: 3vh;
    margin-bottom: 1vh;
    color: #A8FF60;
}

.service-card p {
    font-weight: 300;
    line-height: 1.6;
}

/* === PORTIFOLIO PAGE === */

.portfolio-hero {
    text-align: center;
    padding: 10vh 5vw 5vh 5vw;
    color: #F2F2F2;
}

.section-title {
    margin: 0 auto;
    color: #F2F2F2;
    font-size: 9vh;
    text-align: center;
    margin-top: 2vh;
}

.section-subtitle {
    color: #F2F2F2;
    font-weight: 300;
    text-align: center;
    font-size: 5vh;
    padding: 20px;
}

.portfolio-filters {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 5vh 0;
    flex-wrap: wrap;
}

.filter-button {
    padding: 10px 20px;
    background-color: #00F0FF;
    border-radius: 10px;
    color: #1A1A1A;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.filter-button:hover {
    background-color: #A8FF60;
    transform: scale(1.05);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3vh;
    padding: 0 5vw 5vh 5vw;
}

.portfolio-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.1);
    cursor: pointer;
    transition: .3s;
    color: #F2F2F2;
    text-align: center;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.filter-button.active {
    background-color: #00c0cc;
    color: #ffffff;
    transform: scale(1.05);
}

.portfolio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.3s;
}

.portfolio-card h3 {
    margin: 10px 0;
    font-size: 2.5vh;
}

.portfolio-card p {
    font-weight: 300;
    margin-bottom: 10px;
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 240, 255, 0.3);
}

.portfolio-card:hover img {
    filter: brightness(0.8);
}

.portfolio-cta {
    text-align: center;
    padding: 5vh 2vw;
    color: #F2F2F2;
}

.portfolio-cta h2 {
    font-size: 5vh;
}

.portfolio-cta p {
    margin-top: 1vh;
    font-weight: 300;
}

.portfolio-cta .CTA-button {
    margin-top: 2vh;
}

footer {
    height: 100px;
}

/* === CONTACT PAGE === */

.contact-form-section {
    background-color: #1a1a1a5f;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 2%;
}

.contact-form {
    display: grid;
    gap: 10px;
}

.contact-form input,
textarea {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 2%;
    color: #F2F2F2;
    width: 100%;
    font-size: 4vh;
}

.contact-form label {
    color: #F2F2F2;
    display: block;
    font-size: 4vh;
}

.error {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.success-message {
    color: #F2F2F2;
    font-size: 6vh;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    background-color: #00ff80e1;
    border-radius: 15px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    display: none;
}

.success-message.show {
    display: block;
    opacity: 1;
}

.contact-cta-button {
    background-color: #00F0FF;
    color: #F2F2F2;
    height: 10vh;
    font-size: 5vh;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.8s ease;
    margin-top: 5vh;
}

.contact-cta-button:hover {
    transform: scale(1.02);
    background-color: #A8FF60;
    box-shadow: 0 0 15px rgba(168, 255, 96, 0.7);
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info {
    text-align: center;
    color: #F2F2F2;
    height: 200px;
    margin-top: 5vh;
    font-size: 4vh;
}

.contact-info p {
    margin: 10px;
}

.social-medias {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

.social-medias i {
    cursor: pointer;
    font-size: 7vh;
    transition: .1s;
}

.social-medias i:hover {
    transform: scale(1.02);
    color: #A8FF60;
}

/* === ABOUT PAGE === */

.about-hero {
    text-align: center;
    padding: 10vh 5vw 5vh 5vw;
    color: #F2F2F2;
}

.about-history {
    padding: 5vh 10vw;
    background-color: #1a1a1a5a;
    color: #F2F2F2;
}

.about-history h2 {
    font-size: 5vh;
    margin-bottom: 2vh;
    color: #00F0FF;
}

.about-history p {
    font-weight: 300;
    line-height: 1.6;
    font-size: 4vh;
}

.about-values {
    padding: 5vh 10vw;
    background-color: #12121276;
    color: #F2F2F2;
}

.about-values ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about-values h2 {
    font-size: 5vh;
    margin-bottom: 2vh;
    color: #00F0FF;
}

.about-values li {
    margin-bottom: 1.5vh;
    font-weight: 300;
}

.about-values strong {
    color: #A8FF60;
}

.about-team {
    padding: 5vh 10vw;
    background-color: #1a1a1aa1;
    color: #F2F2F2;
    text-align: center;
}

.about-team h2 {
    font-size: 5vh;
    margin-bottom: 4vh;
    color: #00F0FF;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vh;
}

.team-member {
    background-color: #2A2A2A;
    border-radius: 15px;
    padding: 2vh 2vw;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.1);
    transition: 0.3s;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.team-member h3 {
    margin: 1vh 0 0.5vh 0;
    color: #A8FF60;
    font-size: 2.5vh;
}

.team-member p {
    font-weight: 300;
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(168, 255, 96, 0.3);
}

/* === RESPONSIVE ===*/

@media (max-width: 920px) {

    .menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .hero-section-title {
        font-size: 6vh;
        width: 80%;
    }

    .hero-section-subtitle {
        font-size: 4vh;
    }

}

@media (max-width: 810px) {

    .logo {
        font-size: 4vh;
    }

    .hero-section-title {
        font-size: 6vh;
        width: 80%;
    }

    .hero-section-subtitle {
        font-size: 4vh;
    }

    .section-title {
        width: 80%;
        font-size: 6vh;
    }

    .section-subtitle {
        font-size: 3vh;
    }
}

@media (max-width: 710px) {

    .hero-section-title {
        font-size: 6vh;
        width: 80%;
    }

    .contact-form-section {
        width: 95%;
    }

    .form-row {
        display: grid;
    }

    .contact-form input,
    textarea {
        font-size: 3vh;
    }

    .contact-form label {
        font-size: 3vh;
    }

    .contact-info {
        font-size: 2vh;
    }

    .social-medias i {
        font-size: 5vh;
    }

    .social-medias i:hover {
        transform: scale(1.02);
        color: #A8FF60;
    }

}

@media (max-width:540px) {

    .logo {
        font-size: 3vh;
    }

    .mobile-menu i {
        font-size: 4vh;
    }

    header {
        padding: 0 5% 0 5%;
    }

    .hero-section-title {
        width: 80%;
        font-size: 5vh;
    }

    .hero-section-subtitle {
        font-size: 3vh;
    }

    .section-title {
        width: 80%;
        font-size: 5vh;
    }

    .section-subtitle {
        font-size: 3vh;
    }

    .CTA-button {
        height: auto;
        font-size: 2.5vh;
        margin-top: 5vh;
    }

    .portfolio-grid {
        padding: 0;
    }

    .portfolio-card {
        width: 80%;
        justify-self: center;
    }

    .about-history p,
    .about-values li,
    .about-team p {
        font-size: 2.5vh;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 80%;
    }

}
